.user-card {
    width: 28rem;
}

.user-card-header {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 3rem;
    flex-shrink: 0;
}

.username {
    margin-right: 3rem;
}

.user-status {
    margin-left: auto;
}

.user-definition-group {
    display: flex;
}

.user-definition-term {
    min-width: 4rem;
}
