body {
    margin: 0;
}

.page-container {
    margin-top: 5rem;
}

.cursor-pointer {
    cursor: pointer;
}

.paginated-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
